
<footer>
    <div class="foot">

        <p>*Instant savings, otherwise referred to as instant Cashback on the Apple Store Online, is available with
            the purchase of an eligible product for qualifying HDFC Bank credit cards & HDFC Bank credit card EMI
            only. Minimum transaction value of ₹10001 applies. Click here to see instant savings amounts and
            eligible devices. Instant savings are available for up to two orders per rolling 90-day period with an
            eligible card. Card eligibility is subject to terms and conditions between you and your card-issuing
            bank. Total transaction value is calculated after any trade-in credit or eligible discount applied. Any
            subsequent order adjustment(s) or cancellation(s) may result in instant savings being recalculated, and
            any refund may be adjusted to account for instant savings clawback; this may result in no refund being
            made to you. Offer may be revised or withdrawn at any time without any prior notice. Terms and
            conditions apply. Offer cannot be combined with Apple Store for Education or Corporate Employee Purchase
            Plan pricing. Multiple separate orders cannot be combined for instant savings.
        </p>
        <br>
        <hr>
        <br>
        <div class="ul">
            <ul>
                <h5>Shop and Learn</h5>
                <li><a href="">Store</a></li>
                <li><a href="">Mac</a></li>
                <li><a href="">iPad</a></li>
                <li><a href="">iPhone</a></li>
                <li><a href="">Watch</a></li>
                <li><a href="">AirPods</a></li>
                <li><a href="">TV & Home</a></li>
                <li><a href=""></a>AirTag</li>
                <li><a href=""></a>Accessories</li>
                <li><a href="">Gift Card</a></li>
                <h5>Apple Wallet</h5>
                <li><a href="">Wallet</a></li>
            </ul>
            <ul class="Align">
                <h5>Account</h5>
                <li><a href="">Manage Your Apple ID</a></li>
                <li><a href="">Apple Store Account</a></li>
                <li><a href="">icloud.com</a></li>
                <h5>Entertainment</h5>
                <li><a href="">Apple One</a></li>
                <li><a href="">Apple TV+</a></li>
                <li><a href="">Apple Music</a></li>
                <li><a href="">Apple Arcade</a></li>
                <li><a href="">Apple Podcasts</a></li>
                <li><a href="">Apple Books</a></li>
                <li><a href="">Apple Store</a></li>
            </ul>
            <ul class="Align">
                <h5>Apple Store</h5>
                <li><a href="">Apple trade In</a></li>
                <li><a href="">Ways to Buy</a></li>
                <li><a href="">Recycling Programme</a></li>
                <li><a href="">order Status</a></li>
                <li><a href="">Shopping Help</a></li>
            </ul>
            <ul class="Align">
                <h5>For Business</h5>
                <li><a href="">Apple and Business</a></li>
                <h5>For Education</h5>
                <li><a href="">Apple and Education</a></li>
                <li><a href="">Shop for Education</a></li>
                <li><a href="">Shop for University</a></li>
                <h5>For Healthcare</h5>
                <li><a href="">Apple in Healthcare</a></li>
                <li><a href="">Health in Apple watch</a></li>
            </ul>
            <ul class="Align">
                <h5>Apple Value</h5>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Education</a></li>
                <li><a href="">Environment</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Supplier Responsiblity</a></li>
                <h5>About Apple</h5>
                <li><a href="">Newsroom</a></li>
                <li><a href="">Apple Leadership</a></li>
                <li><a href="">Career Opportunities</a></li>
                <li><a href="">Investor</a></li>
                <li><a href="">Ethics & Compliance</a></li>
                <li><a href="">Event</a></li>
                <li><a href="">Contact Apple</a></li>
            </ul>
        </div>
        <p>More ways to shop: <a href="#"> Find a retailer </a> near you. Or call 000800 040 1966.</p>

        <hr>

        <div class="policy">
            <p>Copyright © 2023 Apple Inc. All rights reserved. &nbsp;</p>
            <ul class="policy">
                <li> Privacy Policy | &nbsp;</li>
                <li>Terms of Use | &nbsp;</li>
                <li>Sales Policy| &nbsp;</li>
                <li>Legal | &nbsp;</li>
                <li>Site Map | </li>
            </ul>
        </div>
    </div>
</footer>
</div>
</body>

</html>