
<nav>
    <i class="fa-brands fa-apple"></i>
    <i class="fa-solid fa-laptop-binary"></i>
    <p><a href="https://www.apple.com/in/store">Store</a></p>
    <p><a href="https://www.apple.com/in/mac/">Mac</a></p>
    <p><a href="https://www.apple.com/in/ipad/">iPad</a></p>
    <p><a href="https://www.apple.com/in/iphone/">iPhone</a></p>
    <p><a href="https://www.apple.com/in/watch/">Watch</a></p>
    <p><a href="https://www.apple.com/in/airpods/">Airpods</a></p>
    <p><a href="https://www.apple.com/in/tv-home/">TV & Home</a></p>
    <p><a href="https://www.apple.com/in/services/">Entertainment</a></p>
    <p><a href="https://www.apple.com/in/shop/accessories/all">Accessories</a></p>
    <p><a href="https://support.apple.com/en-in">Support</a></p>
    <p><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></p> 
    <p><a href=""><i class="fa-light fa-bags-shopping"></i></a></p>
    
</nav>