<%- include("partials/header")%>
  <%- include("partials/nav")%>
    <div class="page1">
      <div class="pagetext1">

        <h1>iPhone 14 Pro</h1>
        <h3>Pro.Beyond.</h3>

        <a href="https://www.apple.com/in/iphone-14-pro/">Learn more ></a>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14-pro">Buy ></a>
      </div>
    </div>
    <div class="page2">
      <div class="pagetext2">

        <h1>iPhone 14</h1>
        <div class="fa-3x">
          <!-- <i class="fa-solid fa-circle-plus fa-beat"></i>
                <i class="fa-solid fa-heart fa-beat"></i> -->
          <!-- <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;"></i> -->
          <!-- <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;"></i>
                <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i> -->
        </div>
        <div>

          <h3>Two great sizes.</h3>
          <h3 class="h3">Now with a splash of yellow.</h3>
        </div>

        <a href="https://www.apple.com/in/iphone-14-pro/">Learn more ></a>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14-pro">Buy ></a>
      </div>
    </div>
    <div class="page3">
      <div class="pagetext3">

        <h1> <i class="fa-brands fa-apple"></i>WATCH</h1>
        <h3>SERIES 8</h3>
        <p>A healthy leap ahead.</p>

        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14-pro">Learn more ></a>
        <a href="https://www.apple.com/in/shop/buy-watch/apple-watch">Buy ></a>
      </div>
    </div>
    <div class="page45">

      <div class="page4">
        <div class="pagetext4">
          <h1>Apple BKC</h1>
          <p>India's first Apple Store</p> <br>
          <p>is arriving soon at Mumbai</p>
          <a href="#learn">learn more ></a>
        </div>
      </div>

      <div class="page5">
        <div class="pagetext5">
          <h1><i class="fa-brands fa-apple"></i>WWDC23</h1>
          <p>Apple WorldWide Developers Conference.</p> <br>
          <p>Join us online from 5 to 9 June.</p>
          <a href="#learn">learn more ></a>
        </div>
      </div>
    </div>
    <div class="page67">

      <div class="page6">
        <div class="pagetext6">
          <h1><i class="fa-brands fa-apple"></i>WATCH</h1>
          <h4>ULTRA</h4>
          <p>Adventure awaits.</p>
          <a href="https://www.apple.com/in/shop/buy-watch/apple-watch">learn more ></a>
          <a href="https://www.apple.com/in/shop/buy-watch/apple-watch">Buy ></a>
        </div>
      </div>

      <div class="page7">
        <div class="pagetext7">
          <h1>MacBook Pro</h1>
          <p>Superchareged by M2 Pro and M2 Max.</p> <br>
          <a href="apple.com/in/macbook-air-13-and-15-m2/">learn more ></a>
          <a href="https://www.apple.com/in/shop/buy-mac/macbook-air/15-inch-m2">Buy ></a>
        </div>
      </div>
    </div>
    <div class="page89">

      <div class="page8">
        <div class="pagetext8">
          <h1>iPad</h1>
          <p>Loveble. Drawable. Magical</p>
          <a href="https://www.apple.com/in/ipad/">learn more ></a>
          <a href="https://www.apple.com/in/ipad/"> Buy ></a>
        </div>
      </div>

      <div class="page9">
        <div class="pagetext9">
          <h1>Airpods Pro</h1>
          <p>Rebuilt from the sound up.</p>
          <a href="https://www.apple.com/in/airpods-pro/">learn more > </a>
          <a href="https://www.apple.com/in/shop/product/MQD83HN/A/airpods-pro">Buy ></a>
        </div>
      </div>
    </div>

    <%-include("partials/footer")%>